<div class="auth-container">
  <h2>Вход</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Логин</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        [class.invalid]="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        <small *ngIf="loginForm.get('email')?.errors?.['required']"
          >Введите логин</small
        >
        <small *ngIf="loginForm.get('email')?.errors?.['email']"
          >Invalid email format.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        [class.invalid]="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        <small *ngIf="loginForm.get('password')?.errors?.['required']"
          >Введите пароль.</small
        >
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
          Пароль должен иметь длину хотя бы 6 символов.
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Войти</button>
  </form>

  <p>
    <a routerLink="/signup" routerLinkActive="active"
      >У вас нет аккаунта? Зарегистрируйтесь</a
    >
  </p>
</div>
